.box
{      
  display: inline-block;
  /*position: absolute;
   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  */
  position: absolute;
  left: 45%;
  margin-left: -50px;
  width: 300px;
  
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-dark{
  background-color: black;
  border-color: black;
}
.btn-dark:hover{
  background-color: darkgray;
  border-color: darkgray;
  border-width: 4px;
}
.btn-xl{
  padding: 1rem 2rem;
}
.button{
  position: absolute;
  left: 20%;
  margin-left: -50px;
  width: 300px;
}
.force-scroll {
  overflow-y: scroll;  
  height: 400px;  
  width:  200px;
}